*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: url(./assets/1645087961_4-phonoteka-org-p-zadnii-fon-dlya-arta-5.jpg);
  backdrop-filter: blur(10px);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
